<p-panel #login [toggleable]="!loggedIn" [toggler]="!loggedIn?'header':'icon'" [(collapsed)]="collapseLogin">
	<p-header>
		<span class="ui-panel-title" style="font-size: 18px; display: inline-block; margin-top: 2px;">
			<p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
			<p-button type="button" icon="pi pi-bars" (click)="userMenu.toggle($event)"
					[ngStyle]="{ 'margin-right': '10px' }" *ngIf="loggedIn"></p-button>
			{{ loggedIn?userService.userProfile.username:'Login' }}
		</span>
		<p-button *ngIf="loggedIn" [ngStyle]="{ 'float': 'right' }"
				type="button" label="Logout" (click)="logoutUser($event)"></p-button>
	</p-header>
	<form [formGroup]="loginForm" (submit)="loginUser($event)" *ngIf="!registered && !loggedIn">
		<div style="position: relative;">
			<div class="overlay login" *ngIf="isLoginLoading">
				<i class="pi pi-spin pi-spinner" [style.fontSize]="'5em'"></i>
			</div>
			<ul class="panelItems">
				<li>
					<h4>Username (Email):</h4>
					<input type="text" pInputText *ngIf="!publicKey" formControlName="username"/>
					<span *ngIf="publicKey" (click)="publicKey = undefined" class="fakeLink">
						{{ userService.userProfile.username }}
					</span>
				</li>
				<li *ngIf="publicKey">
					<h4>Password:</h4>
					<input #password type="password" pPassword formControlName="password"/>
				</li>
				<li *ngIf="(!loginForm.valid && publicKey) || !loginForm.get('username').valid" ngClass="error">
					{{ errorMessage }}
				</li>
				<li>
					<p-button type="button" styleClass="ui-button-secondary" class="registerButton"
							[disabled]="!loginForm.get('username').valid"
							(click)="loginUser($event, true)" label="Register" *ngIf="!publicKey"></p-button>
					<p-button type="button" [ngStyle]="{ 'width': '80px' }"
							[disabled]="!loginForm.get('username').valid || (publicKey && !loginForm.valid)"
							(click)="loginUser($event)" [label]="publicKey?'Login':'Next'"></p-button><br/>
					<input type="submit" style="visibility: hidden; width: 0px; height: 0px;"/>
				</li>
				<li [style.margin-top.em]="-1.5">
					<span class="fakeLink" (click)="loginUser($event, true)">
						Forgot Password?
					</span>
				</li>
			</ul>
		</div>
	</form>
	<ul *ngIf="registered && !loggedIn">
		<li>
			<h4>{{ registrationStatus }}</h4>
			<span (click)="logoutUser($event)" class="fakeLink">Retry</span><br/><br/>
			<span (click)="loginUser($event, true)" class="fakeLink">Reset Password/Resend Link</span>
		</li>
	</ul>
</p-panel>