<p-table #amendmentList [value]="amendments" dataKey="LegislationId" rowExpandMode="single"
        [rows]="25" [totalRecords]="amendments.length"
        [paginator]="true" [alwaysShowPaginator]="false" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Amendment Number</th>
            <th>Status</th>
            <th>Last Update</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-amendment>
        <tr>
            <td [pRowToggler]="amendment" style="cursor: pointer; display: table-cell; text-align: center;">
                {{ amendment.LegislationDisplayCode }}
            </td>
            <td [pRowToggler]="amendment" style="cursor: pointer; display: table-cell; text-align: center;">
                {{ amendment.StatusName }}
            </td>
            <td [pRowToggler]="amendment" style="cursor: pointer; display: table-cell; text-align: center;">
                {{ amendment.LegislationStatusDateTime | date }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-amendment>
        <tr>
            <td [attr.colspan]="'3'">
                <legislation-bill-view [bill]="amendment"></legislation-bill-view>
            </td>
        </tr>
    </ng-template>
</p-table>