<ng-container *ngIf="showUserPanel()">
    <p-panel *ngIf="usersList.length && aorUser < 0" class="userList">
        <p-header>
            <span class="ui-panel-title ui-g" style="margin-top: 5px; font-size: 18px;">
                <span class="ui-g-3">User Management</span>
                <span class="ui-g-9" style="text-align: right; padding-right: 11px;">
                    <div class="ui-inputgroup" style="display: inline-block;">
                        <input type="text" pInputText [(ngModel)]="userFilter"
                                (ngModelChange)="filterUsers()" size="50"
                                style="vertical-align: text-bottom;"/>
                        <span style="margin-left: -3%;">
                            <button pButton type="button" icon="pi pi-times"
                                    (click)="filterUsers('')" class="clearSearch"></button>
                        </span>
                    </div>
                </span>
            </span>
        </p-header>
        <div class="overlay permissions" *ngIf="isPermissionsLoading"></div>
        <p-table [value]="usersList">
            <ng-template pTemplate="body" let-user>
                <tr [class]="disableUser(user)?'ownUser':'user'" style="cursor: pointer;" (click)="openUser(user)">
                    <td>{{user.username}}{{disableUser(user)?' - Cannot Manage Your Own Permissions':''}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <p-panel *ngIf="aorUser >= 0 && !displayAorSelection" class="userList">
        <p-header>
            <span class="ui-panel-title ui-g">
                <span class="ui-g-3">
                    <p-button icon="pi pi-chevron-left" (click)="aorUser = -1"
                            [ngStyle]="{ 'margin-right': '15px' }"></p-button>
                    <span>{{usersList[aorUser].username}}</span>
                </span>
            </span>
        </p-header>
        <ul [ngStyle]="{ 'text-align': 'left' }" class="panelItems">
            <li *ngFor="let permission of userService.cacheService.permissions | keyvalue:sortPerms; index as i"
                [ngStyle]="{ 'text-align': 'left' }">
                <p-checkbox [label]="permission.key" [value]="permission.value.mask"
                    [disabled]="disableCheckbox(permission.key)"
                    (onChange)="changePermission(usersList[aorUser].username, permission.value.mask)" [(ngModel)]="permissions">
                </p-checkbox>
                <p-button type="button" label="AOR" *ngIf="permission.value.aor"
                    [ngStyle]="{ 'float': 'right', 'height': '0.5em' }" [style]="{ 'font-size': '10px' }"
                    (click)="setAor(usersList[aorUser].username, permission.value.mask)"></p-button>
                <i class="pi pi-question-circle helperIcon" [ngStyle]="{ 'font-size': '1.25em' }"
                    (click)="aorHelp.toggle($event)" *ngIf="permission.value.aor"></i>
            </li>
        </ul>
    </p-panel>

    <p-panel *ngIf="displayAorSelection" (onHide)="hideAor()" class="userList">
        <p-header>
            <span class="ui-panel-title ui-g">
                <span class="ui-g-9">
                    <p-button icon="pi pi-chevron-left" (click)="displayAorSelection = false"
                            [ngStyle]="{ 'margin-right': '15px' }"></p-button>
                    <span>{{aorPermission+' AOR Selection for User: '+usersList[aorUser]?.username}}</span>
                </span>
                <span class="ui-g-3" style="text-align: right;">
                    <p-button type="button" label="Add" iconPos="right" styleClass="ui-button-success"
                            icon="pi pi-plus" (click)="addAor()"></p-button>
                </span>
            </span>
        </p-header>
        <div class="overlay aor" *ngIf="aorValuesLoading">
            <i class="pi pi-spin pi-spinner" [style.margin-left]="'-0.5em'" [style.fontSize]="'5em'"></i>
        </div>
        <div *ngIf="!aorSelection">
            <em>No AOR Selections gives this user access to all voters.</em>
        </div>
        <p-table [value]="aorSelection" *ngIf="aorSelection">
            <ng-template pTemplate="caption">
                <em>Voters must match a value in all provided columns in
                    at least one row to fit into this user's AOR.</em>
            </ng-template>
            <ng-template pTemplate="header">
                <tr><th style="width: 3%;"></th><th *ngFor="let field of aorFields">{{field.aorLabel}}</th></tr>
            </ng-template>
            <ng-template pTemplate="body" let-aorItem let-rowIndex="rowIndex">
                <tr style="cursor: pointer;">
                    <td style="text-align: center;">
                        <i class="pi pi-times" (click)="removeAor(rowIndex)"></i>
                    </td>
                    <td *ngFor="let field of aorFields" style="text-align: center;" (click)="editAor(rowIndex, field)">
                        {{extractAorValues(aorItem[field.aorLabel])}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</ng-container>

<p-dialog [header]="'Select '+selectAorField" [closeOnEscape]="false" [closable]="false"
    [(visible)]="selectAorField" [modal]="true">
    <div class="overlay aor" *ngIf="aorValuesLoading">
        <i class="pi pi-spin pi-spinner" [style.margin-left]="'-0.5em'" [style.fontSize]="'5em'"></i>
    </div>
    <ul class="panelItems" style="text-align: left;">
        <li *ngFor="let value of aorValues[selectAorField]">
            <p-checkbox [label]="value.label" [value]="value.value"
                    [(ngModel)]="aorSelection[selectedAorItem][selectAorField]"></p-checkbox>
        </li>
    </ul>
    <p-footer>
        <p-button type="button" (click)="changeAor()" label="Save"
                icon="pi pi-plus" styleClass="ui-button-success"></p-button>
    </p-footer>
</p-dialog>

<p-overlayPanel #aorHelp [style]="{ 'max-width': '20%' }" [showCloseIcon]="true">
    <h3>AOR Selection</h3>
    <p>AOR Selection determines which sections of a database are accessible to the user for this permission.</p><br />
    <p>
        AOR criteria are applied as an OR condition on the filter, therefore if a record meets any of the selected
        AOR criteria, it will be accessible, even if it does not meet all of them.
    </p><br />
</p-overlayPanel>