<p-panel [header]='userService.userProfile.username'>
	<form [formGroup]="passwordForm" (submit)="setPassword($event)" *ngIf="!error">
		<div style="display: inline-block; width: 20%; margin-left: 5%">
			<h4 class="hint">Password Requirements:</h4>
			<ol>
				<li [style.color]="getValidationState(0)">
					At least four characters
				</li>
				<li [style.color]="getValidationState(1)">
					At least one letter
				</li>
				<li [style.color]="getValidationState(2)">
					At least one number
				</li>
				<li [style.color]="getValidationState(3)">
					Password matches confirmation
				</li>
			</ol>
		</div>
		<ul>
			<li>
				<h4>Set Password:</h4>
				<input type="password" pPassword formControlName="password"/>
			</li>
			<li>
				<h4>Confirm Password:</h4>
				<input type="password" pPassword formControlName="confirm"/>
			</li>
			<li>
				<button pButton type="button" [disabled]="!passwordForm.valid"
						(click)="setPassword($event)" label="Submit"></button><br/>
				<input type="submit" [disabled]="!passwordForm.valid"
						style="visibility: hidden; width: 0px; height: 0px;"/>
			</li>
		</ul>
	</form>
	<ul *ngIf="error">
		<li>Token is invalid.</li>
	</ul>
</p-panel>